@import "./base.css";

#app {
  /* width: 100%;
  margin: 0 auto;

  font-weight: normal; */
}

@media (min-width: 1024px) {
  body {
    /* display: flex; */
    /* place-items: center; */
  }

  /* #teststyles {
    color: red;
    font-size: 10rem;
    border: 10px solid red;
  } */
}
